body {
	font-family: Helvetica, sans-serif;
	color: white;
	background: purple;
}

h1 {
	font-weight: bold;
	font-size: 50px;
	margin: 0 0 1em;
}

span {
	color: green;
	font-weight: bold;
}
#page {
	width: 500px;
	margin: 30px auto;
	padding: 30px;
	background-color: black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 3px 3px 10px rgba(#ffff);
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
